@import 'mixin.less';
@import 'variables.less';
@import 'mixin.less';

:root {
  font-size: 13.3333vw;
  /* calc(100vw / 7.5) */
}

@media screen and (min-width: 750px) {
  :root {
    font-size: 100px;
  }
}

body {
  color: #c80;
  font-size: 0.26rem;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* 重置 */

::-webkit-input-placeholder {
  color: #aaa;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

input,
textarea {
  appearance: none;
}

img {
  max-width: 100%;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
